<div ng-init = "getBooks()">
<h1>Book App</h1>

  <form ng-submit="addBook()">
    <input type="text" ng-model="newBook.title" placeholder="Title" autofocus>
    <input type="text" ng-model="newBook.author" placeholder="Author">
    <input type="text" ng-model="newBook.description" placeholder="Description">
    <button>Add Book</button>
  </form>

  <ul ng-repeat="book in books">
    <li>{{book.title}}, {{book.author}}
      <button ng-click="deleteBook()">Delete</button>
      <input type="checkbox" ng-click="getEditForm(book)" ng-model ="$parent.checked"><label>Edit</label>

    <form ng-submit="editBook(book)" ng-show = "checked">
      <input type="text" ng-model="book.title" placeholder="Title">
      <input type="text" ng-model="book.author" placeholder="Author">
      <input type="text" ng-model="book.description" placeholder="Description">
      <button>Edit Book</button>
    </form>
  </li>
  </ul>


</div>